<ion-header>
  <ion-toolbar>
    <ion-title>Por Precio</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="cerrarSesion()">
        <ion-icon name="log-out"></ion-icon>
      </button>
      <button ion-button icon-only color="light" (click)="miUbicacion()">
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- Rango para el precio -->
    <ion-row>
      <ion-col text-center>
        <ion-label>menores a: {{contrast}} $</ion-label>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-range min="0" max="25000" pin="true" [(ngModel)]="contrast" (ionChange)="setValoracion(contrast)" color="four">
        <ion-icon range-left small name="cash" color="verde"></ion-icon>
        <ion-icon range-right name="cash" color="verde"></ion-icon>
      </ion-range>
    </ion-item>
    <!-- /////////////// ACÁ EMPIEZA EL TIMELINE ///////////// -->
    <ion-item *ngFor="let sitios of sitios">
      <ion-card>
        <ion-item (click)="verInfoRestaurante(sitios)" type="submit">
          <!-- Logo del restaurante -->
          <ion-avatar item-start>
            <img [src]="sitios.image">
          </ion-avatar>
          <!-- Nombre del restaurante -->
          <h2>{{sitios.nombre}}</h2>
          <p></p>
          <!-- Menú del restaurante -->
        </ion-item>
        <img *ngIf="sitios.pizarras" [src]="sitios.pizarras.foto" #myImage (click)="presentImage(myImage)" />
        <ion-card-content>
          <!-- Aquí iría la descripción -->
        </ion-card-content>

        <!-- donde se encuentra favorito, distancia y compartir-->
        <ion-grid>
          <ion-row no-padding>
            <ion-col text-center>
              <!-- <button ion-button clear small color="energy" icon-start class="estrella"> -->
              <ion-icon color="energy" name='star'>{{sitios.pizarras.valoracionmenu}}</ion-icon>
              <!-- </button> -->
            </ion-col>
            <!-- Navegación -->
            <ion-col text-center>
              <ion-icon name="navigate" color="primary"> 4.675</ion-icon>
            </ion-col>
            <!-- Compartir -->
            <ion-col text-center>
              <ion-fab class="button-compartir" center button>
                <button ion-fab mini color="primary">
                  <ion-icon name="share"></ion-icon>
                </button>
                <ion-fab-list side="top">
                  <button (click)="facebookShare(sitios.nombre,sitios.pizarras.foto)" color="facebook" ion-fab>
                    <ion-icon name="logo-facebook"></ion-icon>
                  </button>
                  <button (click)="twitterShare(sitios.nombre,sitios.pizarras.foto)" ion-fab>
                    <ion-icon color="twitter" name="logo-twitter"></ion-icon>
                  </button>
                  <button (click)="emailShare(sitios.nombre,sitios.pizarras.foto)" ion-fab color="danger">
                    <ion-icon name="mail"></ion-icon>
                  </button>
                  <button (click)="instagramShare(sitios.nombre,sitios.pizarras.foto)" ion-fab color="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </button>
                  <button (click)="whatsapShare(sitios.nombre,sitios.pizarras.foto)" color="whatsapp" ion-fab>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </button>
                </ion-fab-list>
              </ion-fab>
            </ion-col>
            <!-- Fin compartir -->
          </ion-row>
        </ion-grid>
        <!-- donde se encuentra el horario desde y haste -->
        <ion-grid>
          <ion-row>
            <ion-col text-center>
              <ion-icon name="clock" color="four"></ion-icon>Desde: {{sitios.pizarras.desde}}
            </ion-col>
            <ion-col text-center>
              <ion-icon name="clock" color="danger"></ion-icon>Hasta: {{sitios.pizarras.hasta}}
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- donde se encuentra el precio minimo y maximo -->
        <ion-grid>
          <ion-row>
            <ion-col text-center>
              <ion-icon name="book" color="four"></ion-icon>Max: {{sitios.pizarras.max}} $
            </ion-col>
            <ion-col text-center>
              <ion-icon name="book" color="danger"></ion-icon>Min: {{sitios.pizarras.min}} $
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- boton ¿Estas Aqui? -->
        <ion-grid>
          <ion-row>
            <ion-col text-center>
              <button ion-button color="whatsapp" (click)="valorarMenu(sitios)" full small>
                <ion-col>
                  <ion-icon name="walk" color="dark"></ion-icon>
                </ion-col>
                <ion-col>
                  ¿Estas Aqui?
                </ion-col>
                <ion-col>
                  <ion-icon name="restaurant" color="dark"></ion-icon>
                </ion-col>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>