<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons start>
      <button ion-button (click)="cerrarModal()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <!-- Fab para visualizar el boton que navegar -->
    <ion-fab right top>
      <button ion-fab color="four">
        <ion-icon color ios="ios-arrow-dropdown-circle" md="md-arrow-dropdown-circle"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button (click)="comoLlegar()" ion-fab>
          <ion-icon name="navigate"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
    <!-- Imagen del restaurat y Lugar -->
    <img class="card-img" *ngIf="restaurant.image" [src]="restaurant.image" />
    <div class="card-title">{{restaurant.nombre}}</div>
    <div class="card-subtitle">{{ restaurant.lema }}</div>
    <!-- Favoritos(estrella), comentarios(burbuja) y Me gusta(corazon),  -->
    <ion-grid>
      <ion-row class="card-icos">
        <!-- Signo estrella que refleja los comentarios -->
        <ion-col>
          <ion-icon (click)="addValoracion()" color="energy" name="star"></ion-icon>
          <ion-badge item-end>{{valoracion}}</ion-badge>
        </ion-col>
        <!-- Signo globo que muestra la cantidad de comentarios -->
        <ion-col>
          <ion-icon color="primary" ios="ios-chatboxes" md="md-chatboxes"></ion-icon>{{cantidadComentarios}}
        </ion-col>
        <!-- Signo favorito (corazón) -->
        <ion-col>
          <ion-icon (click)="addFavorito()" color={{esFavorito}} ios="ios-heart" md="md-heart"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <!-- Signo de interrogación -->
      <ion-grid>
        <ion-col class="icon-ayuda" text-right>

          <ion-icon color="danger" ios="ios-pricetag" md="md-pricetag" (click)="openModal()"></ion-icon>
        </ion-col>
      </ion-grid>
      <!-- Servicios del Restaurate -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="wifi"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="card"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="car"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="basket"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="snow"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Dirección del restaurante -->
      <p>{{address}}</p>

    </ion-card-content>
  </ion-card>
  <!-- Listado de comentarios -->
  <ion-list>
    <ion-item>
      ¿Quieres Comentar?
      <button ion-button outline item-end icon-left (click)="ingresarComentario()">
        <ion-icon name="add"></ion-icon>
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngFor="let comentarios of comentarios">
      <!-- Avatar del comntario -->
      <ion-avatar item-start>
        <img src="">
      </ion-avatar>
      <!-- Nombre de la persona que realizó el comentario-->
      <h2></h2>
      <!-- Descripcion del comentario-->
      <p>{{comentarios.descripcion}}</p>
    </ion-item>
  </ion-list>

</ion-content>